@model IEnumerable<EventEase.Models.Venue>

@{
    ViewData["Title"] = "Available Venues";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.venueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageurl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.venueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageurl)
            </td>
           @*  <td>
                <a asp-action="Edit" asp-route-id="@item.venueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.venueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.venueId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
